@import url(https://fonts.google.com/);

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY-HEADER*/

html {
    scroll-behavior: smooth; /*menu-secciones de modo suave*/
    overflow-x: hidden;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    background-color: rgba(8, 8, 8, 0.4);
    height: 15%;
    width: 100%;
}

.menu i {
    display: none; /*Muestra los iconos solo en celu*/
}

/*BOTON REDONDO MENU RESPONSIVE*/

#icon-menu {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 18px;
    top: 20px;
    padding: 10px;
    font-size: 20px;
    background: #a228e9;
    border-radius: 100%;
    color: #63ceff;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}

.menu {
    display: none;
}

.redes-sociales-2 {
      display: none;  
}

#icon-menu:hover {
    background: #ee94cb;
    opacity: 0.8;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
    color: white;
}

section {
    height: 100vh; 
  }

.iniciales{
    display: flex;
    justify-content: space-between;
    padding: 3em; 
    color: #f2faf9;
}

.iniciales img {
    width: 7.5%;
    height: 7.5%;
    margin-top: -2.5%;
}

.color-iniciales h2 {
    margin-top: -20px;
    font-size: 37px;
    color: #e3e6e7;
    margin-left: -8%;
    margin-top: -20px;
    font-family: 'Grey Qo', cursive;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0 #7702fc;
}

.menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-left: 26%;
    margin-top: -0.8%;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu li {
    list-style: none;
}

.menu a {
    color: rgb(247, 243, 243); /*color de las letras*/
    text-decoration: none; /*Se elimina el subrayado*/
    padding: 4px 13px;
    border: 2px solid rgb(110, 12, 122);
    border-radius: 5px;
}


.menu .active{
    color: #02c1fc;
}

                /* hover: la capacidad de flotar sobre un elemento*/
.menu a:hover{
    background-color: #1dbdfc;
    color: #08021a;
    transition: ease-in .4s; /*velocidad cuando toco el menu*/
}

.main{
    width: 70vw;
    height: 100vh;
    display: grid;
}

h1 {
    margin-top: 22%;
    margin-left: 20%;
    font-size: 2em;
}

p {
    font-size: 18px;
    margin-left: 20%;
}

span{
    color: rgb(190, 67, 252);
    text-shadow: 1px 2px 0 rgb(17, 1, 27);
}

.main img {
    border-radius: 10% 40%;
    width: 330px;
    border: 5px solid darkslateblue;
    height: 400px;
    margin-top: -33%;
    margin-left: 87.5%;
}

.download-cv {
    padding: 10px 20px;
    background-color: rgb(245, 166, 232);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
    font-size: 15px;
    margin-left: 20%;
}

.download-cv:hover {
    background-color: #16ebc8;
}

.contenedor-firma img {
    width: 300px;
    height: 100px;
    border: 0px solid ;
    margin-left: 30%;
}

/*DIPLOMAS*/

.Diplomas {
    padding: 10px 20px;
    background-color: #08021a;
    color: #ebeff0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
    font-size: 15px;
    margin-top: -50%;
}

.Diplomas:hover {
    background-color: #16ebc8;
}

/*ESPECIALIDADES*/

.Especialidades {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(7, 35, 73);
    z-index: 1;
}

.Especialidades h2 {
    font-size: 1.9em;
    color: rgb(244, 244, 248);
    margin-top: 18%;
    margin-bottom: -70%;
    margin-left: 24%;
    text-shadow: 3px 3px 0 rgb(131, 12, 121);
    text-decoration: 1px underline rgb(131, 12, 121);
}

.Especialidades img{
    width: 50vw;
    height: 60vh;
    opacity: 80%;
    grid-column: 1/5;
    margin-top: 13%;
    margin-left: 8%;
    margin-right: 60%;
    border-radius: 7px;
    z-index: 1;
}

.especialidades-info{
    grid-column: 5/10;
    padding: -1em;
    margin-top: -20%;
}

.especialidades-info i {
    font-size: 50px;
    margin-left: 10px;
}

.especialidades-info h1 {
    color: rgb(228, 221, 221);
    text-shadow: 1px 3px 0 rgb(10, 10, 10);
    margin-top: -13%;
    margin-bottom: -1.5%;
    margin-left: 8%;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.Especialidades p {
    margin-bottom: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: #faf9fd;
    margin-left: 8%;
}

.Especialidades .download-cv {
    color: rgb(58, 42, 158);
    margin-top: -8%;
    margin-left: 8%;
}

/*PALABRA_PORTAFOLIO_ENCABEZADO*/

.portafolio {
    background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
    color: #fff;
    width: 100vw;
    height: 100vh;
}

.portafolio-encabezado {
    width: 100vw;
    padding: 5em;
    text-shadow: 3px 3px 0 rgb(131, 12, 121);
}

.portafolio-encabezado h2 {
   font-size: 2em;
   margin-top: 4%;
   margin-bottom: 1%;
}

.dividir {
    height: 5px;
    width: 70px;
    background-color: rgb(129, 21, 113);
    margin-top: -10px; /*rayita debajo de Especialidades*/
    margin-bottom: 2em;
}

/******TARJETA_DE_PROYECTOS******/

.contenedor-tarjetas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
    top: -8%;
}

.projects {
    width: 25%;
    padding-top: 20px;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
} 

/* ANIMATIONS */

.floating h3 {
    color: #070707;
    text-shadow: 2px 1px 0 rgb(238, 241, 241);
    margin-top: 6%;
}

.floating img {
    border-radius: 80px 10px 80px 10px;
}

.floating { 
    border: 1.5px solid rgb(21, 204, 236);
    border-radius: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: -15px;
    margin-top: -8px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


/* GITHUB PROYECTOS */

.tarjeta_proyectos-links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12%;
    margin-left: -9%;
}

.tarjeta_proyectos-links a {
    color: #0a0a0a;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.tarjeta_proyectos-links i {
    font-size: 1.8em;
    color: #20075c;
    margin-top: 5px;  
}

.tarjeta_proyectos-links button {
    border-radius: 50%;
}

/*CONTACTO*/

.contacto {
    width: 100vw;
    height: 100vh;
    background-color: rgb(7, 35, 73);
    color: #fff;
}

.encabezado-contacto h2 {
    display: inline-block;
    position: relative;
    font-size: 2em;
    margin-top: 5%;
    margin-left: 60px;
    text-shadow: 3px 3px 0 rgb(131, 12, 121);
}

.contenedor-contacto {
    display: flex; 
}

.contenedor-contacto img {
    margin-top: -4.2%;
    margin-left: 15%;
    width: 500px;
    height: 565px;
    border-radius: 40%;
    background-attachment: fixed;
}

.contenedor-formulario {
    margin-top: -6%;
    margin-left: 9%;
}

.dividir_cont {
    height: 5px;
    width: 70px;
    background-color: rgb(131, 12, 121);
    margin-top: 3px; /*rayita debajo de Especialidades*/
    margin-left: 4.8%;
}

/*FORMULARIO*/

.formulario {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 10em;
}

.formulario h4 {
 margin-bottom: 5%;
}

.formulario input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(24, 5, 37);
    color: #fafafa;
}

.formulario textarea {
    height: 150px;
    background: black;
    color: #f5f1f1; /*color de entrada de texto*/
    padding: 1.5em;
    border: 1px solid #fff;
}

.formulario .boton-entregar {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(175, 129, 248);
    cursor: pointer; /*la manito arriba del boton*/
  }

  .boton-entregar:hover {
    background-color: #f1a1eb;
  }

  /*FOOTER*/

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: rgb(59, 46, 117);
  }
  
  .footer-contenido h2 {
    font-size: 2.2em; /*3em - 3 veces el tamaño de la letra actual*/
    color: white;
    text-shadow: 4px 4px 0 rgb(8, 8, 8);
  }

  .footer-contenido h5 {
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin-top: 0.5em;
    text-shadow: 4px 3px 0 rgb(178, 8, 201);
  }
  
  .redes-sociales {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
  }
  
  .redes-sociales i {
    font-size: 1.9em;
    text-align: center;
    cursor: pointer;
    color: #6eeaf3;
    text-shadow: 2px 2px 0 rgb(8, 8, 8);
  }

  .redes-sociales:hover i {
    color:  #f85687;
  }
  
  /********BOTON IR ARRIBA********/

.boton-up {
    opacity: 0.7;
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 70px;
    width: 70px;
    border: 3px solid rgb(21, 204, 236);
    background-color: #f85687;
    border-radius: 30%;
}

.boton-up a {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-up a i{
    font-size: 40px;
    color: white;
    margin-bottom: 37%;
    margin-right: 35%;
}



/*-----MEDIA_QUERY-----*/
/*-----MEDIA_QUERY-----Responsive Design - adaptable a dispositivos moviles*/
/*-----MEDIA_QUERY-----*/

@media screen and (max-width: 380px){

    .iniciales img {
        width: 28%;
        height: 28%;
        margin-top: -12%;
        margin-left: -10%;
    }

    .color-iniciales h2 {
        margin-top: -10px;
        font-size: 32px;
        margin-left: -78%;
        margin-top: -14%;
    }

    /*-----MENU-----*/

    .menu {
        display: block;
        position: fixed;
        height: 485px;
        width: 250px;
        top: 89px;
        background: #140342;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transform: translateX(0px);
        padding: 1.5em;
        right: -100%; /*NO SE VE MENU*/
    }

    #icon-menu {
        display: flex;
    }
    
    .menu a {
        border: 0px;
        font-size: 20px;
        margin-top: 30px;
    }

    .menu i {
        color: #e6a3ec;
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    .menu li {
        max-width: 200px;
        height: 50px;
        margin-top: 16%;
    }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #140342;
        top: 88px;
        transition: all .5s;
        right: -100%; /*NO SE VE MENU*/
    }

    .redes-sociales-2 {
        display: block;
        margin-top: 20%; 
    }

    .redes-sociales-2 i {
        font-size: 1.2em;
        cursor: pointer;
        margin-top: 18%;
      }

      .redes-sociales-2:hover i {
        color:  #f85687;
      }


    /*------INFO------*/

    .info-content{
        align-items: center;
    }

    .info-content h1 {
        margin-top: 41%;
        margin-bottom: -6%;
        margin-left: 10%;
        font-size: 1em;
    }

    .info-content p {
        margin-left: 10%;
        font-size: 1em;
    }

    .download-cv {
        font-size: 11px;
        padding: 7px 4px;
        cursor: pointer;
        margin-left: 9%;
        margin-top: 10px;
    }

    .main img {
        width: 190px;
        height: 224px;
        margin-top: -58%;
        margin-left: 64.5%;
        border-radius: 100%;
    }

    .contenedor-firma img {
        width: 168px;
        height: 123px;
        margin-left: 5%;
    }

    /*-----ESPECIALIDADES----*/

    .Especialidades h2 {
        font-size: 1.2em;
        margin-top: -65%;
        margin-left: 70%;
    }

    .Especialidades img {
        width: 262px;
        height: 168px;
        opacity: 80%;
        grid-column: 1/5;
        margin-top: -100%;
        margin-left: 17%;
        margin-right: 60%;
        border-radius: 7px;
        }

    .especialidades-info h1 {

        margin-top: 551%;
        margin-bottom: 2.5%;
        margin-left: -1357%;
        font-size: 1.1em;
    }

    .Especialidades p {
        margin-bottom: -12em;
        font-size: 13px;
        margin-left: -1634%;
        margin-top: -14px;
       }

    .Especialidades .download-cv {
        color: rgb(58, 42, 158);
        margin-top: 753%;
        margin-left: -1026%;
       }

    .especialidades-info i {
        font-size: 28px;
       }

    .especialidades-info {
        margin-top: -741%;
       }

    /*------PORTAFOLIO------*/

    .contenedor-tarjetas {
        display: flex;
        margin-left: 3%;
        margin-top: 2%;
    }

    .portafolio-encabezado h2 {
        font-size: 1.4em;
        margin-top: -6%;
        margin-left: -28%;
       }

    .dividir {
        margin-top: 0px;
        margin-left: -27%;
    }

    .floating h3 {
        margin-top: 28%;
        font-size: 78%;
        text-shadow: none;
        color: #ecf4f7;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .floating img {
        margin-top: 10%;
        width: 100px;
        height: 85px;
        border-radius: 10%;
    }

    .floating {
        border: none;
        animation-name: none;
    }

    .projects {
        width: 45%;
        box-shadow: none;
    }

    .tarjeta_proyectos-links button {
        border-radius: 5px;
        width: 70%;
        height: 88%;
    }

    .tarjeta_proyectos-links i {
        font-size: 100%;
        color: #070707;
        margin-top: 1%;
    }

    .tarjeta_proyectos-links a {
        font-size: 16px;
        margin-left: -10%; 
    }

    /*-----CONTACTO-----*/

    .encabezado-contacto h2 {
        font-size: 1.3em;
        margin-left: 14px;
    }
    
    .dividir_cont {
        margin-left: 4%;
    }

    .contenedor-formulario {
        margin-top: -45%;
        margin-left: -36%;
        width: 100%;
    }

    .contenedor-contacto img{
        margin-top: 46.8%;
        margin-left: 3%;
        width: 318px;
        height: 307px;
        } 

    .formulario {
        width: 43vw;
        height: 50vw;
        margin-top: 12em;
    }

    .formulario h4 {
        font-size: 74%;
    }

    .formulario input {
        padding: 15px 2px;
        border-bottom: 1px solid rgb(245, 243, 247);
    }

    .formulario .boton-entregar {
        padding: 2px 0px;
        background-color: #070707;
    }

    .boton-entregar {
        font-size: 68%;
        color: #f3f6f7;
    }

    .formulario textarea {
        padding: 3.5em;
        background: black;
    }

    /*-----FOOTER-----*/

    .footer {
        height: 150px;
       }

    .redes-sociales i {
        font-size: 150%;
        }

    .footer-contenido h2 {
        font-size: 1.3em;
        text-align: center;
        }

    .footer-contenido h5 {
        font-size: 1.3em;
        }


    /*-----BOTON-UP-----*/

    .boton-up {
        bottom: 90px;
        right: 9px;
        height: 50px;
        width: 50px;
        }

    .boton-up a i {
        font-size: 30px;
        margin-bottom: 60%;
        margin-right: 56%;
        }

}

/*---------------------------PANTALLA_520px--------------------------------*/

/*-----MEDIA_QUERY-----Responsive Design - adaptable a dispositivos moviles*/


@media screen and (max-width: 520px) and (min-width: 381px){

    .iniciales img {
        height: 28%;
        width: 23%;
        height: 28%;
        margin-top: -10%;
        margin-left: -7%;
    }

    .color-iniciales h2 {
        margin-top: -10px;
        font-size: 34px;
        margin-left: -159%;
        margin-top: -17%;
    }

    /*-----MENU-----*/

    .menu {
        display: block;
        position: fixed;
        height: 485px;
        width: 250px;
        top: 89px;
        background: #140342;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transform: translateX(0px);
        padding: 1.5em;
        right: -100%; /*NO SE VE MENU*/
    }

    #icon-menu {
        display: flex;
    }
    
    .menu a {
        border: 0px;
        font-size: 20px;
        margin-top: 30px;
    }

    .menu i {
        color: #e6a3ec;
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    .menu li {
        max-width: 200px;
        height: 50px;
        margin-top: 16%;
    }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #140342;
        top: 88px;
        transition: all .5s;
        right: 0%; /*NO SE VE MENU*/
    }

    .redes-sociales-2 {
        display: block;
        margin-top: 20%; 
    }
    .redes-sociales-2 i {
        font-size: 1.2em;
        cursor: pointer;
        margin-top: 18%;
      }

      .redes-sociales-2:hover i {
        color:  #f85687;
      }

    /*------INFO------*/

    .info-content{
        align-items: center;
    }

    .info-content h1 {
        margin-top: 35%;
        margin-bottom: -6%;
        margin-left: 10%;
        font-size: 1em;
    }
    .info-content p {
        margin-left: 10%;
        font-size: 1em;
    }
    .download-cv {
        font-size: 11px;
        padding: 7px 4px;
        cursor: pointer;
        margin-left: 9%;
        margin-top: 10px;
    }
    
    .main img {
        width: 190px;
        height: 231px;
        margin-top: -31%;
        margin-left: 86.5%;
        border-radius: 100%;
    }

    .contenedor-firma img {
        width: 183px;
        height: 125px;
        margin-left: 18%;
    }

    /*-----ESPECIALIDADES----*/

    .Especialidades h2 {
        font-size: 1.2em;
        margin-top: -57%;
        margin-left: 112%;
    }

    .contenedor-especialidades {
        width: 439px;
        height: 135px;
        opacity: 80%;
        grid-column: 1/5;
        margin-top: -390%;
        margin-left: 34%;
        margin-right: 60%;
        border-radius: 7px;
    }

    .Especialidades img {
        width: 274px;
        height: 155px;
        margin-top: -74%;
        margin-left: 25%;
        box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
        }

    .especialidades-info h1 {
        margin-top: 484%;
        margin-bottom: 2.5%;
        margin-left: -1357%;
        font-size: 1.1em;
    }

    .Especialidades p {
        margin-bottom: -13em;
        font-size: 13px;
        margin-left: -1705%;
        margin-top: -28px;
    }

    .Especialidades .download-cv {
        color: rgb(58, 42, 158);
        margin-top: 713%;
        margin-left: -1026%;
       }

    .especialidades-info i {
        font-size: 28px;
       }

    .especialidades-info {
        margin-top: -741%;
       }

    /*------PORTAFOLIO------*/

    .contenedor-tarjetas {
        display: flex;
        margin-left: 3%;
        margin-top: -3%;
    }

    .portafolio-encabezado h2 {
        font-size: 1.4em;
        margin-top: -6%;
        margin-left: 27%
       }

    .dividir {
        margin-top: 0px;
        margin-left: 27%;
    }

    .floating h3 {
        margin-top: 28%;
        font-size: 100%;
        text-shadow: none;
        color: #ecf4f7;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .floating img {
        margin-top: 10%;
        width: 150px;
        height: 136px;
        border-radius: 50%;
    }

    .floating {
        border: none;
        animation-name: none;
    }

    .projects {
        width: 45%;
        box-shadow: none;
    }

    .tarjeta_proyectos-links button {
        border-radius: 50px;
        width: 90%;
        height: 104%;
        background-color: #070707;
    }

    .tarjeta_proyectos-links i {
        font-size: 100%;
        color: #2890f1;
        margin-top: 9%;
    }

    .tarjeta_proyectos-links a {
        font-size: 17px;
        margin-left: 0%; 
        color: #eee8e8;
        
    }

    /*-----CONTACTO-----*/

    .encabezado-contacto h2 {
        font-size: 1.3em;
        margin-left: 44px;
    }
    
    .dividir_cont {
        margin-left: 9%;
     }

    .contenedor-formulario {
        margin-top: -38%;
        margin-left: -20%;
        width: 100%;
    }
    .contenedor-contacto img{
        margin-top: 17.8%;
        margin-left: 3%;
        width: 346px;
        height: 384px;
        } 

    .formulario {
        width: 43vw;
        height: 50vw;
        margin-top: 12em;
    }

    .formulario h4 {
        font-size: 74%;
    }

    .formulario input {
        padding: 15px 2px;
        border-bottom: 1px solid rgb(245, 243, 247);
    }

    .formulario .boton-entregar {
        padding: 2px 0px;
        background-color: #070707;
    }

    .boton-entregar {
        font-size: 68%;
        color: #f3f6f7;
    }

    .formulario textarea {
        padding: 3.5em;
        background: black;
    }

    
    /*-----FOOTER-----*/

    .footer {
        height: 150px;
       }

    .redes-sociales i {
        font-size: 150%;
        }

    .footer-contenido h2 {
        font-size: 1.3em;
        text-align: center;
        }

    .footer-contenido h5 {
        font-size: 1.3em;
        }


    /*-----BOTON-UP-----*/

    .boton-up {
        bottom: 90px;
        right: 9px;
        height: 50px;
        width: 50px;
        }

    .boton-up a i {
        font-size: 30px;
        margin-bottom: 60%;
        margin-right: 56%;
        }

}



/*--------------------------PANTALLA_720px--------------------------------*/

/*-----MEDIA_QUERY-----Responsive Design - adaptable a dispositivos moviles*/


@media screen and (max-width: 720px) and (min-width: 525px){

    .iniciales img {
        height: 28%;
        width: 17%;
        height: 28%;
        margin-top: -7%;
        margin-left: -3%;
    }

    .color-iniciales h2 {
        margin-top: -10px;
        font-size: 34px;
        margin-left: -282%;
        margin-top: -14%;
    }

    /*-----MENU-----*/

    .menu {
        display: block;
        position: fixed;
        height: 485px;
        width: 250px;
        top: 89px;
        background: #140342;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        transform: translateX(0px);
        padding: 1.5em;
        right: -100%; /*NO SE VE MENU*/
    }

    #icon-menu {
        display: flex;
        right: 32px;
    }
    
    .menu a {
        border: 0px;
        font-size: 20px;
        margin-top: 30px;
    }

    .menu i {
        color: #e6a3ec;
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    .menu li {
        max-width: 200px;
        height: 50px;
        margin-top: 16%;
    }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #140342;
        top: 88px;
        transition: all .5s;
        right: 0%; /*NO SE VE MENU*/
    }

    .redes-sociales-2 {
        display: block;
        margin-top: 20%; 
    }
    .redes-sociales-2 i {
        font-size: 1.2em;
        cursor: pointer;
        margin-top: 18%;
      }

      .redes-sociales-2:hover i {
        color:  #f85687;
      }

    /*------INFO------*/

    .info-content{
        align-items: center;
    }

    .info-content h1 {
        margin-top: 26%;
        margin-bottom: -1%;
        margin-left: 10%;
        font-size: 1.4em;
}

    .info-content p {
        margin-left: 10%;
        font-size: 1.1em;
    }
    .download-cv {
        font-size: 13px;
        padding: 9px 17px;
        cursor: pointer;
        margin-left: 10%;
        margin-top: 10px;
    }
    
    .main img {
        width: 190px;
        height: 231px;
        margin-top: -27%;
        margin-left: 98.5%;
        border-radius: 14%;
    }
    

    .contenedor-firma img {
        width: 202px;
        height: 125px;
        margin-left: 30%;
    }

    /*-----ESPECIALIDADES----*/

    .Especialidades h2 {
        font-size: 1.3em;
        margin-top: -54%;
        margin-left: 162%;
    }

    .contenedor-especialidades {
        width: 675px;
        height: 135px;
        border-radius: 7px;
        grid-column: 1/5;
        margin-top: -390%;
    }

    .Especialidades img {
        width: 274px;
        height: 155px;
        margin-top: -53%;
        margin-left: 34%;
        box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
        }

    .especialidades-info h1 {
        margin-top: 484%;
        margin-bottom: 27.5%;
        margin-left: -1357%;
        font-size: 1.3em;
    }

    .Especialidades p {
        margin-bottom: -13em;
        font-size: 15px;
        margin-left: -1705%;
        margin-top: -28px;
    }

    .Especialidades .download-cv {
        color: rgb(58, 42, 158);
        margin-top: 581%;
        margin-left: -1026%;
       }

    .especialidades-info i {
        font-size: 28px;
       }

    .especialidades-info {
        margin-top: -693%;
       }

    /*------PORTAFOLIO------*/

    .contenedor-tarjetas {
        display: flex;
        margin-left: 3%;
        margin-top: -3%;
    }

    .portafolio-encabezado h2 {
        font-size: 1.5em;
        margin-top: -6%;
        margin-left: 27%
       }

    .dividir {
        margin-top: 0px;
        margin-left: 27%;
    }

    .floating h3 {
        margin-top: 28%;
        font-size: 112%;
        text-shadow: none;
        color: #ecf4f7;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .floating img {
        margin-top: -3%;
        width: 185px;
        height: 163px;
    }
    

    .floating {
        border: none;
        animation-name: 0;
    }

    .projects {
        width: 45%;
        box-shadow: none;
    }

    .tarjeta_proyectos-links button {
        border-radius: 50px;
        width: 90%;
        height: 104%;
        background-color: #070707;
    }

    .tarjeta_proyectos-links i {
        font-size: 100%;
        color: #2890f1;
        margin-top: 9%;
    }

    .tarjeta_proyectos-links a {
        font-size: 17px;
        margin-left: 0%; 
        color: #eee8e8;
        
    }

    /*-----CONTACTO-----*/

    .encabezado-contacto h2 {
        font-size: 1.5em;
        margin-left: 44px;
    }
    
    .dividir_cont {
        margin-left: 9%;
     }

    .contenedor-formulario {
        margin-top: -38%;
        margin-left: -10%;
        width: 100%;
    }
    .contenedor-contacto img{
        margin-top: 11%;
        margin-left: 3%;
        width: 428px;
        height: 384px;
        } 

    .formulario {
        width: 39vw;
        height: 50vw;
        margin-top: 13em;
    }

    .formulario h4 {
        font-size: 74%;
    }

    .formulario input {
        padding: 15px 2px;
        border-bottom: 1px solid rgb(245, 243, 247);
    }

    .formulario .boton-entregar {
        padding: 2px 0px;
        background-color: #070707;
    }

    .boton-entregar {
        font-size: 68%;
        color: #f3f6f7;
    }

    .formulario textarea {
        padding: 3.5em;
        background: black;
    }

    
    /*-----FOOTER-----*/

    .footer {
        height: 150px;
       }

    .redes-sociales i {
        font-size: 150%;
        }

    .footer-contenido h2 {
        font-size: 1.3em;
        text-align: center;
        }

    .footer-contenido h5 {
        font-size: 1.3em;
        }


    /*-----BOTON-UP-----*/

    .boton-up {
        bottom: 90px;
        right: 9px;
        height: 50px;
        width: 50px;
        }

    .boton-up a i {
        font-size: 30px;
        margin-bottom: 60%;
        margin-right: 56%;
        }


    }

/*---------------------------PANTALLA_920px--------------------------------*/

/*-----MEDIA_QUERY-----Responsive Design - adaptable a dispositivos moviles*/


@media screen and (max-width: 920px) and (min-width: 721px){
       
    /*BODY-HEADER*/
        html {
            scroll-behavior: smooth; /*menu-secciones de modo suave*/
            overflow-x: hidden;
        }

        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        header {
            position: fixed;
            background-color: rgba(8, 8, 8, 0.4);
            height: 15%;
            width: 100%;
        }

        .menu i {
            display: none; /*Muestra los iconos solo en celu*/
        }

        .wrapper {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
            color: white;
        }

        section {
            height: 100vh; 
        }

        .iniciales{
            display: flex;
            justify-content: space-between;
            padding: 3em; 
            color: #f2faf9;
        }

        .iniciales img {
            width: 13.5%;
            height: 7.5%;
            margin-top: -4.5%;
            margin-left: -3%;
        }

        .color-iniciales h2 {
            font-size: 37px;
            color: #e3e6e7;
            margin-left: -8%;
            margin-top: -20px;
            font-family: 'Grey Qo', cursive;
            letter-spacing: 3px;
            text-shadow: 2px 2px 0 #7702fc;
        }

        .menu {
            display: flex;
            width: 100%;
            height: 100%;
            margin-right: -4%;
            margin-left: 2%;
            margin-top: -0.8%;
            font-size: 22px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .menu li {
            list-style: none;
        }

        .menu a {
            color: rgb(247, 243, 243); /*color de las letras*/
            text-decoration: none; /*Se elimina el subrayado*/
            padding: 4px 13px;
            border: 2px solid rgb(110, 12, 122);
            border-radius: 5px;
        }


        .menu .active{
            color: #02c1fc;
        }

                        /* hover: la capacidad de flotar sobre un elemento*/
        .menu a:hover{
            background-color: #1dbdfc;
            color: #08021a;
            transition: ease-in .4s; /*velocidad cuando toco el menu*/
        }

        .main {
            width: 70vw;
            height: 100vh;
            display: grid;
        }

        h1 {
            margin-top: 22%;
            margin-left: 8%;
            font-size: 1.8em;
        }

        p {
            font-size: 18px;
            margin-left: 8%;
        }

        span {
            color: rgb(190, 67, 252);
            text-shadow: 1px 2px 0 rgb(17, 1, 27);
        }

        .main img {
            border-radius: 3%;
            width: 262px;
            border: 3px solid darkslateblue;
            height: 346px;
            margin-top: -29%;
            margin-left: 97.5%;
        }

        .download-cv {
            padding: 10px 20px;
            background-color: rgb(245, 166, 232);
            border: none;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
            font-size: 15px;
            margin-left: 13%;
        }

        .download-cv:hover {
            background-color: #16ebc8;
        }

        .contenedor-firma img {
            width: 339px;
            height: 129px;
            border: 0px solid;
            margin-left: 23%;
        }

        /*DIPLOMAS*/

        .Diplomas {
            padding: 10px 20px;
            background-color: #08021a;
            color: #ebeff0;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
            font-size: 15px;
            margin-top: -50%;
        }

        .Diplomas:hover {
            background-color: #16ebc8;
        }

        /*ESPECIALIDADES*/

        .Especialidades {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            width: 100vw;
            height: 100vh;
            align-items: center;
            background-color: rgb(7, 35, 73);
            z-index: 1;
        }

        .Especialidades h2 {
            font-size: 1.7em;
            color: rgb(244, 244, 248);
            margin-top: 51%;
            margin-bottom: -70%;
            margin-left: 36%;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
            text-decoration: 1px underline rgb(131, 12, 121);
        }

        .Especialidades img{
            box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
            width: 35vw;
            height: 37vh;
            opacity: 80%;
            grid-column: 1/5;
            margin-top: 5%;
            margin-left: 8%;
            margin-right: 60%;
            border-radius: 7px;
            z-index: 1;
        }

        .especialidades-info{
            padding: -1em;
            margin-top: -27%;
        }

        .especialidades-info i {
            font-size: 50px;
            margin-left: 10px;
        }

        .especialidades-info h1 {
            color: rgb(228, 221, 221);
            text-shadow: 1px 3px 0 rgb(10, 10, 10);
            margin-top: -18%;
            margin-bottom: -1.5%;
            margin-left: -14%;
            font-size: 24px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .Especialidades p {
            margin-bottom: 2.4em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 17px;
            color: #faf9fd;
            margin-left: -19%;
            
        }

        .Especialidades .download-cv {
            color: rgb(58, 42, 158);
            margin-top: -8%;
            margin-left: 26%;
        }

        /*PALABRA_PORTAFOLIO_ENCABEZADO*/

        .portafolio {
            background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
            color: #fff;
            width: 100vw;
            height: 100vh;
        }

        .portafolio-encabezado {
            width: 100vw;
            padding: 5em;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
        }

        .portafolio-encabezado h2 {
        font-size: 2em;
        margin-top: 4%;
        text-align: center;
        margin-bottom: 1%;
        }

        .floating img {
            margin-top: -1%;
            width: 185px;
            height: 173px;
            border-radius: 8%;
        }

        .dividir {
            height: 5px;
            width: 70px;
            background-color: rgb(129, 21, 113);
            margin-top: -10px; /*rayita debajo de Especialidades*/
            margin-bottom: 2em;
            margin-left: 35%;
        }

        /******TARJETA_DE_PROYECTOS******/

        .contenedor-tarjetas {
            display: flex;
            align-items: center;
            text-align: center;
            top: -8%;
            width: 100vw;
        }

        .projects {
            width: 25%;
            padding-top: 20px;
            box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        } 

        /* ANIMATIONS */

        .floating h3 {
            color: #070707;
            text-shadow: 2px 1px 0 rgb(238, 241, 241);
            margin-top: 6%;
        }

        .floating { 
            border: 1.5px solid rgb(21, 204, 236);
            border-radius: 5%;
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            margin-left: -15px;
            margin-top: -11px;
        }
        
        @keyframes floating {
            0% { transform: translate(0,  0px); }
            50%  { transform: translate(0, 15px); }
            100%   { transform: translate(0, -0px); }   
        }


        /* GITHUB PROYECTOS */

        .tarjeta_proyectos-links {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 12%;
            margin-left: -9%;
        }

        .tarjeta_proyectos-links a {
            color: #0a0a0a;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Lobster', cursive;
        }

        .tarjeta_proyectos-links i {
            font-size: 1.8em;
            color: #20075c;
            margin-top: 5px;  
        }

        .tarjeta_proyectos-links button {
            border-radius: 50%;
        }

        /*CONTACTO*/

        .contacto {
            width: 100vw;
            height: 100vh;
            background-color: rgb(7, 35, 73);
            color: #fff;
        }

        .encabezado-contacto h2 {
            display: inline-block;
            position: relative;
            font-size: 1.8em;
            margin-top: 8%;
            margin-bottom: 5%;
            margin-left: 335px;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
        }

        .contenedor-contacto {
            display: flex; 
        }

        .contenedor-contacto img {
            margin-top: -1.2%;
            margin-left: 4%;
            width: 484px;
            height: 494px;
            border-radius: 40%;
            background-attachment: fixed;
        }

        .contenedor-formulario {
            margin-top: 2%;
            margin-left: 11%;
        }

        .dividir_cont {
            height: 5px;
            width: 70px;
            background-color: rgb(131, 12, 121);
            margin-top: -44px;
            margin-left: 36.8%;
        }

        /*FORMULARIO*/

        .formulario {
            display: flex;
            flex-direction: column;
            width: 30vw;
            margin-top: 0em;
            margin-left: -21%;
        }

        .formulario h4 {
        margin-bottom: 5%;
        }

        .formulario input {
            padding: 10px 20px;
            margin-bottom: 1em;
            background: none;
            border: none;
            border-bottom: 1px solid rgb(24, 5, 37);
            color: #fafafa;
        }

        .formulario textarea {
            height: 150px;
            background: black;
            color: #f5f1f1; /*color de entrada de texto*/
            padding: 1.5em;
            border: 1px solid #fff;
        }

        .formulario .boton-entregar {
            padding: 10px 20px;
            margin: 1em;
            border-radius: 20px;
            border: none;
            text-transform: uppercase;
            background-color: rgb(175, 129, 248);
            cursor: pointer; /*la manito arriba del boton*/
        }

        .boton-entregar:hover {
            background-color: #f1a1eb;
        }

        /*FOOTER*/

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 200px;
            padding: 2em;
            background-color: rgb(59, 46, 117);
        }
        
        .footer-contenido h2 {
            font-size: 2.2em; /*3em - 3 veces el tamaño de la letra actual*/
            color: white;
            text-shadow: 4px 4px 0 rgb(8, 8, 8);
        }

        .footer-contenido h5 {
            font-size: 1.3em;
            text-align: center;
            color: white;
            margin-top: 0.5em;
            text-shadow: 4px 3px 0 rgb(178, 8, 201);
        }
        
        .redes-sociales {
            display: flex;
            justify-content: space-evenly;
            width: 300px;
            margin-top: 1em;
        }
        
        .redes-sociales i {
            font-size: 1.9em;
            text-align: center;
            cursor: pointer;
            color: #6eeaf3;
            text-shadow: 2px 2px 0 rgb(8, 8, 8);
        }

        .redes-sociales:hover i {
            color:  #f85687;
        }
        
        /********BOTON IR ARRIBA********/

        .boton-up {
            opacity: 0.7;
            position: fixed;
            bottom: 40px;
            right: 40px;
            height: 70px;
            width: 70px;
            border: 3px solid rgb(21, 204, 236);
            background-color: #f85687;
            border-radius: 30%;
        }

        .boton-up a {
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .boton-up a i{
            font-size: 40px;
            color: white;
            margin-bottom: 37%;
            margin-right: 35%;
        }
}


/*---------------------------PANTALLA_1080px--------------------------------*/

/*-----MEDIA_QUERY-----Responsive Design - adaptable a dispositivos moviles*/


@media screen and (max-width: 1080px) and (min-width: 921px){
       
    /*BODY-HEADER*/
        html {
            scroll-behavior: smooth; /*menu-secciones de modo suave*/
            overflow-x: hidden;
        }

        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        header {
            position: fixed;
            background-color: rgba(8, 8, 8, 0.4);
            height: 15%;
            width: 100%;
        }

        .menu i {
            display: none; /*Muestra los iconos solo en celu*/
        }

        .wrapper {
            width: 100vw;
            height: 100vh;
            background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
            color: white;
        }

        section {
            height: 100vh; 
        }

        .iniciales{
            display: flex;
            justify-content: space-between;
            padding: 3em; 
            color: #f2faf9;
        }

        .iniciales img {
            width: 13.5%;
            height: 7.5%;
            margin-top: -3.5%;
            margin-left: -2%;
        }

        .color-iniciales h2 {
            font-size: 43px;
            color: #e3e6e7;
            margin-left: -15%;
            margin-top: -5px;
            font-family: 'Grey Qo', cursive;
            letter-spacing: 3px;
            text-shadow: 2px 2px 0 #7702fc;
        }

        .menu {
            display: flex;
            width: 100%;
            height: 100%;
            margin-right: -4%;
            margin-left: 2%;
            margin-top: 0.8%;
            font-size: 26px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .menu li {
            list-style: none;
        }

        .menu a {
            color: rgb(247, 243, 243); /*color de las letras*/
            text-decoration: none; /*Se elimina el subrayado*/
            padding: 4px 13px;
            border: 2px solid rgb(110, 12, 122);
            border-radius: 5px;
        }


        .menu .active{
            color: #02c1fc;
        }

                        /* hover: la capacidad de flotar sobre un elemento*/
        .menu a:hover{
            background-color: #1dbdfc;
            color: #08021a;
            transition: ease-in .4s; /*velocidad cuando toco el menu*/
        }

        .main {
            width: 70vw;
            height: 100vh;
            display: grid;
        }

        h1 {
            margin-top: 27%;
            margin-left: 10%;
            font-size: 2em;
        }

        p {
            font-size: 23px;
            margin-left: 10%;
        }

        span {
            color: rgb(190, 67, 252);
            text-shadow: 1px 2px 0 rgb(17, 1, 27);
        }

        .main img {
            border-radius: 48%;
            width: 275px;
            border: 3px solid darkslateblue;
            height: 356px;
            margin-top: -25%;
            margin-left: 97.5%;
        }

        .download-cv {
            padding: 10px 20px;
            background-color: rgb(245, 166, 232);
            border: none;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
            font-size: 17px;
            margin-left: 13%;
        }

        .download-cv:hover {
            background-color: #16ebc8;
        }

        .contenedor-firma img {
            width: 339px;
            height: 129px;
            border: 0px solid;
            margin-left: 23%;
        }

        /*DIPLOMAS*/

        .Diplomas {
            padding: 10px 20px;
            background-color: #08021a;
            color: #ebeff0;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            box-shadow: 1px 3px 11px -5px rgba (138, 43, 226 .69);
            font-size: 15px;
            margin-top: -50%;
        }

        .Diplomas:hover {
            background-color: #16ebc8;
        }

        /*ESPECIALIDADES*/

        .Especialidades {
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            width: 100vw;
            height: 100vh;
            align-items: center;
            background-color: rgb(7, 35, 73);
            z-index: 1;
        }

        .Especialidades h2 {
            font-size: 1.7em;
            color: rgb(244, 244, 248);
            margin-top: 66%;
            margin-bottom: -70%;
            margin-left: 50%;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
            text-decoration: 1px underline rgb(131, 12, 121);
        }

        .Especialidades img{
            box-shadow: -1px -1px 5px 5px rgb(173, 136, 241);
            width: 38vw;
            height: 37vh;
            opacity: 80%;
            grid-column: 1/5;
            margin-top: 5%;
            margin-left: 8%;
            margin-right: 60%;
            border-radius: 7px;
            z-index: 1;
        }

        .especialidades-info{
            padding: -1em;
            margin-top: -27%;
        }

        .especialidades-info i {
            font-size: 50px;
            margin-left: 10px;
        }

        .especialidades-info h1 {
            color: rgb(228, 221, 221);
            text-shadow: 1px 3px 0 rgb(10, 10, 10);
            margin-top: -16%;
            margin-bottom: -1.5%;
            margin-left: 7%;
            font-size: 24px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        .Especialidades p {
            margin-bottom: 2.4em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 20px;
            color: #faf9fd;
            margin-left: -5%;
            
        }

        .Especialidades .download-cv {
            color: rgb(58, 42, 158);
            margin-top: -8%;
            margin-left: 26%;
        }

        /*PALABRA_PORTAFOLIO_ENCABEZADO*/

        .portafolio {
            background-image: linear-gradient(to top, #ecabd9, #b09bd2, #728cbe, #377a9c, #026573, #015560, #00464e, #00373d, #002b38, #022030, #071426, #08021a);
            color: #fff;
            width: 100vw;
            height: 100vh;
        }

        .portafolio-encabezado {
            width: 100vw;
            padding: 5em;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
        }

        .portafolio-encabezado h2 {
        font-size: 2em;
        margin-top: 8%;
        text-align: center;
        margin-bottom: 1%;
        }

        .floating img {
            margin-top: -1%;
            width: 244px;
            height: 173px;
            border-radius: 8%;
        }

        .dividir {
            height: 5px;
            width: 70px;
            background-color: rgb(129, 21, 113);
            margin-top: -5px; /*rayita debajo de Especialidades*/
            margin-bottom: 2em;
            margin-left: 37.8%;
        }

        /******TARJETA_DE_PROYECTOS******/

        .contenedor-tarjetas {
            display: flex;
            align-items: center;
            text-align: center;
            top: -3%;
            width: 100vw;
        }

        .projects {
            width: 25%;
            padding-top: 20px;
            box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        } 

        /* ANIMATIONS */

        .floating h3 {
            color: #070707;
            text-shadow: 2px 1px 0 rgb(238, 241, 241);
            margin-top: 13%;
        }

        .floating { 
            border: 1.5px solid rgb(21, 204, 236);
            border-radius: 0%;
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            margin-left: -15px;
            margin-top: -11px;
        }
        
        @keyframes floating {
            0% { transform: translate(0,  0px); }
            50%  { transform: translate(0, 15px); }
            100%   { transform: translate(0, -0px); }   
        }


        /* GITHUB PROYECTOS */

        .tarjeta_proyectos-links {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 12%;
            margin-left: -9%;
        }

        .tarjeta_proyectos-links a {
            color: #0a0a0a;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Lobster', cursive;
        }

        .tarjeta_proyectos-links i {
            font-size: 1.8em;
            color: #20075c;
            margin-top: 5px;  
        }

        .tarjeta_proyectos-links button {
            border-radius: 50%;
        }

        /*CONTACTO*/

        .contacto {
            width: 100vw;
            height: 100vh;
            background-color: rgb(7, 35, 73);
            color: #fff;
        }

        .encabezado-contacto h2 {
            display: inline-block;
            position: relative;
            font-size: 1.8em;
            margin-top: 8%;
            margin-bottom: 5%;
            margin-left: 394px;
            text-shadow: 3px 3px 0 rgb(131, 12, 121);
        }

        .contenedor-contacto {
            display: flex; 
        }

        .contenedor-contacto img {
            margin-top: 1.8%;
            margin-left: 4%;
            width: 512px;
            height: 571px;
            border-radius: 40%;
            background-attachment: fixed;
        }

        .contenedor-formulario {
            margin-top: 7%;
            margin-left: 15%;
        }

        .dividir_cont {
            height: 5px;
            width: 70px;
            background-color: rgb(131, 12, 121);
            margin-top: -44px;
            margin-left: 36.8%;
        }

        /*FORMULARIO*/

        .formulario {
            display: flex;
            flex-direction: column;
            width: 34vw;
            margin-top: 0em;
            margin-left: -21%;
            font-size: 123%;
        }

        .formulario h4 {
        margin-bottom: 5%;
        }

        .formulario input {
            font-size: 88%; 
            padding: 10px 20px;
            margin-bottom: 1em;
            background: none;
            border: none;
            border-bottom: 1px solid rgb(24, 5, 37);
            color: #fafafa;
        }

        .formulario textarea {
            height: 150px;
            background: black;
            color: #f5f1f1; /*color de entrada de texto*/
            padding: 1.5em;
            border: 1px solid #fff;
        }

        .formulario .boton-entregar {
            padding: 10px 20px;
            font-size: 80%;
            margin: 1em;
            border-radius: 20px;
            border: none;
            text-transform: uppercase;
            background-color: rgb(175, 129, 248);
            cursor: pointer; /*la manito arriba del boton*/
        }

        .boton-entregar:hover {
            background-color: #f1a1eb;
        }

        /*FOOTER*/

        .footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 200px;
            padding: 2em;
            background-color: rgb(59, 46, 117);
        }
        
        .footer-contenido h2 {
            font-size: 2.3em; /*3em - 3 veces el tamaño de la letra actual*/
            color: white;
            text-shadow: 4px 4px 0 rgb(8, 8, 8);
        }

        .footer-contenido h5 {
            font-size: 1.4em;
            text-align: center;
            color: white;
            margin-top: 0.5em;
            text-shadow: 4px 3px 0 rgb(178, 8, 201);
        }
        
        .redes-sociales {
            display: flex;
            justify-content: space-evenly;
            width: 325px;
            margin-top: 1em;
        }
        
        .redes-sociales i {
            font-size: 1.9em;
            text-align: center;
            cursor: pointer;
            color: #6eeaf3;
            text-shadow: 2px 2px 0 rgb(8, 8, 8);
        }

        .redes-sociales:hover i {
            color:  #f85687;
        }
        
        /********BOTON IR ARRIBA********/

        .boton-up {
            opacity: 0.7;
            position: fixed;
            bottom: 90px;
            right: 40px;
            height: 76px;
            width: 76px;
            border: 3px solid rgb(21, 204, 236);
            background-color: #f85687;
            border-radius: 30%;
        }

        .boton-up a {
            margin: 0;
            padding: 0;
            display: inline-block;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .boton-up a i{
            font-size: 49px;
            color: white;
            margin-bottom: 37%;
            margin-right: 32%;
        }
}


        
    
    